.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 415px;
  border: 10px;
  box-shadow: 0 4px 16px #ccc;
  letter-spacing: 1px;
  &__input,
  &__button {
    letter-spacing: 1px;
    font-size: 18px;
  }
  &__title {
    text-align: center;
    margin: 0 0 32px 0;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
  }
  &__group {
    position: relative;
    margin-bottom: 30px;
  }
  &__input {
    height: 30px;
    outline: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #a8a8a8;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    &:focus {
      border-bottom: 1px solid #1a73a8;
    }
    &:focus + .form__label,
    &:not(:placeholder-shown) + .form__label {
      top: -20px;
      left: 2px;
      font-size: 14px;
      color: #bbbbbb;
    }
  }
  &__label {
    position: absolute;
    top: 0;
    left: 2px;
    z-index: -1;
    color: #aaa9a9;
    font-size: 15px;
    transition: 0.3s ease-in-out;
  }
  &__button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #0071f0;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: rgba(0, 113, 240, 0.7);
    }
  }
}
